[run]
branch = True
source = src

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    integration/*
    src/main.py
    src/model/index_creation.py
    src/resources/cleaner.py
    src/resources/user.py
    src/persistence/persistence.py
    src/scripts/*